{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<html>
    
    <head>
        <style>
        body {
            background-color : black;
        }
            
        </style>
        
        
        
    </head>
    
</html>
<br><br><br>

<center><img src = "{% static '!.jpg' %}"></img></center><br><br><br><br><br>
<center><img src = "{% static '@.jpg' %}"></img></center><br><br><br><br><br>
<center><img src = "{% static 'e.jpg' %}"></img> </center><br><br><br><br><br>
<center><img src = "{% static '$.jpg' %}"></img></center><br><br><Br><br><br>
<center><img src = "{% static '%.jpg' %}"></img></center><br><br><br><br>

<center><a href = "{% url 'second' %}"><img src = "{% static 'click.GIF' %}"></a></center>


{% endblock %}