{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<html>
    
    <head>
        <style>
        body {
            background-color : black;
        }
            
        </style>
        
        
        
    </head>
    
</html>
<br><br><br>
<center><img src = "{% static '5.PNG ' %}"></img></center><br>
<center><img src = "{% static 't'. jpg %}"></img></center><br>
<center><img src = "{% static 'c' jpg %}"></img> </center><br>
<center><img src = "{% static 'j' jpg %}"></img></center><br>
<center><img src = "{% static 'q' jpg %}"></img></center><br>


{% endblock %} 